@page "/pacientes/crear"
@rendermode InteractiveServer
@using TurnosClinica.Application.DTOs.Pacientes
@using TurnosClinica.ApiClients.Pacientes
@inject PacientesApiClient Api
@inject NavigationManager Nav



<div class="admin-page">
    <header class="admin-header">
        <h2 class="admin-title">Pacientes</h2>
        <p class="admin-subtitle">Crear</p>
    </header>

    <section class="admin-section">
        <div class="paises-scope">
            <div class="card border-0 shadow-sm pais-card">

                <div class="card-header bg-white border-bottom p-4 pais-header">
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3">
                        <div>
                            <h5 class="mb-1">Nuevo paciente</h5>
                            <div class="text-muted small">Completá los datos y guardá</div>
                        </div>

                        <button type="button"
                                class="btn btn-outline-secondary"
                                @onclick="Volver"
                                disabled="@Guardando">
                            <i class="bi bi-arrow-left"></i> Volver
                        </button>
                    </div>

                    @if (!string.IsNullOrWhiteSpace(Error))
                    {
                        <div class="alert alert-danger mt-3 mb-0">@Error</div>
                    }
                </div>

                <div class="card-body p-6">
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <label class="form-label">DNI</label>
                            <input class="form-control"
                                   placeholder="Ej: 123456789"
                                   @bind-value="Model.DNI"
                                   @bind-value:event="oninput"
                                   disabled="@Guardando" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Nombre</label>
                            <input class="form-control"
                                   placeholder="Ej: Fernando"
                                   @bind-value="Model.Nombre"
                                   @bind-value:event="oninput"
                                   disabled="@Guardando" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Apellido</label>
                            <input class="form-control"
                                   placeholder="Ej: De Rossi"
                                   @bind-value="Model.Apellido"
                                   @bind-value:event="oninput"
                                   disabled="@Guardando" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Fecha de nacimiento</label>
                            <input class="form-control"
                                   placeholder="Ej: 06/06/1995"
                                   @bind-value="Model.FechaNacimiento"
                                   @bind-value:event="oninput"
                                   disabled="@Guardando" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Email</label>
                            <input class="form-control"
                                   placeholder="Ej: paciente_nuevo@gmail.com"
                                   @bind-value="Model.EmailPrincipal"
                                   @bind-value:event="oninput"
                                   disabled="@Guardando" />
                        </div>

                       
                    </div>
                </div>

                <div class="card-footer bg-white border-top p-4 d-flex gap-2 justify-content-end">

                    <button type="button"
                            class="btn btn-outline-secondary"
                            @onclick="Volver"
                            disabled="@Guardando">
                        Cancelar
                    </button>

                    <button type="button"
                            class="btn btn-manage"
                            @onclick="Create"
                            disabled="@Guardando">
                        <i class="bi bi-check2-circle"></i>
                        @(Guardando ? "Guardando..." : "Crear")
                    </button>


                </div>

            </div>
        </div>
    </section>
</div>

@code {

    private string? Error;
    private bool Guardando;

    private CrearPacienteVM Model = new ();


    private async Task Create()
    {
        Error = null;
        Guardando = true;

        try
        {
            var req = new CrearPacienteRequest
            {
                Nombre = Model.Nombre,
                Apellido = Model.Apellido,
                DNI = Model.DNI,
                EmailPrincipal = Model.EmailPrincipal,
                FechaNacimiento = Model.FechaNacimiento
            };

            await Api.CrearAsync(req);
            Nav.NavigateTo("/pacientes");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        finally
        {
            Guardando = false;
        }
    }

    private class CrearPacienteVM
    {
        public string Nombre { get; set; }
        public string Apellido { get; set; }
        public DateTime FechaNacimiento { get; set; }
        public string DNI { get; set; }
        public string EmailPrincipal { get; set; }
    }

    private void Volver() => Nav.NavigateTo("/pacientes");
}
